## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be stored, organized, and accessed electronically. It is a fundamental tool for managing and manipulating large amounts of data efficiently and effectively.

SQL databases are relational databases that store data in tables with a predefined schema. The schema defines the columns and data types for each table, and the relationships between the tables. SQL databases use SQL as their query language to retrieve and manipulate data. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, are non-relational databases that store data in flexible, dynamic schemas. NoSQL databases use a variety of data models, including document-oriented, key-value, graph, and column-family. NoSQL databases are designed to be highly scalable and can handle large volumes of unstructured data. Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

CREATE: used to create a new database object such as a table, view, or index. For example, the following command creates a new table called "customers" with three columns: "id", "name", and "email":

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

DROP: used to delete an existing database object such as a table, view, or index. For example, the following command drops the "customers" table:
**DROP TABLE customers;

ALTER: used to modify the structure of an existing database object such as a table or view. For example, the following command adds a new column called "address" to the "customers" table:

In [ ]:
ALTER TABLE customers
ADD COLUMN address VARCHAR(50);

TRUNCATE: used to delete all the data from an existing table while keeping its structure intact. For example, the following command deletes all the data from the "customers" table:
**TRUNCATE TABLE customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to insert, update, and delete data from tables in a database.

** INSERT: used to add new data to a table. For example, the following command inserts a new record into the "customers" table:

In [ ]:
INSERT INTO customers (id, name, email)
VALUES (1, 'Babita Singh', 'babitasingh@example.com');

** UPDATE: used to modify existing data in a table. For example, the following command updates the email address for the customer with ID 1:

In [ ]:
UPDATE customers
SET email = 'bsingh@example.com'
WHERE id = 1;

** DELETE: used to delete data from a table. For example, the following command deletes the record for the customer with ID 1:

In [ ]:
DELETE FROM customers
WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from tables in a database. The main command used in DQL is SELECT.

SELECT is used to retrieve data from one or more tables in a database. It allows you to specify which columns to retrieve

In [ ]:
SELECT name, salary
FROM employees
WHERE department = 'sales';

## Q5. Explain Primary Key and Foreign Key.

A Primary Key is a unique identifier for a record in a table. It is a column or a set of columns in a table that uniquely identifies each record in that table. A primary key is used to enforce data integrity and ensure that each record in the table can be uniquely identified.

A Foreign Key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between the two tables. A foreign key is used to enforce referential integrity, which ensures that data in related tables remains consistent.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

## Q7. Give the order of execution of SQL clauses in an SQL query.

**FROM clause: This clause specifies the table(s) from which to retrieve data.

**JOIN clause: This clause is used to join multiple tables together based on a common field.

**WHERE clause: This clause is used to filter the results of the query based on a condition.

**GROUP BY clause: This clause is used to group the results of the query based on one or more columns.

**HAVING clause: This clause is used to filter the results of the query after the GROUP BY clause has been applied.

**SELECT clause: This clause is used to select the columns to retrieve from the table(s).

**DISTINCT clause: This clause is used to remove duplicates from the results of the query.

**ORDER BY clause: This clause is used to sort the results of the query based on one or more columns.

**LIMIT clause: This clause is used to limit the number of results returned by the query.